[submodule "_vim/bundle/gromacs"]
	path = _vim/bundle/gromacs
	url = git@github.com:jbarnoud/vim-gromacs.git
[submodule "_vim/bundle/git"]
	path = _vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/taglist"]
	path = _vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "_vim/bundle/pylint"]
	path = _vim/bundle/pylint
	url = https://github.com/vim-scripts/pylint.vim.git
[submodule "_vim/bundle/autoproto"]
	path = _vim/bundle/autoproto
	url = https://github.com/vim-scripts/autoproto.vim.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
